.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  position: relative;
  height: 80px;
  display: block;
  left:5px;
}
/* .Header-title{
 position: relative;
 top:15px;
 z-index: 4;
} */

.App-Header {
 
  background-color: #222;
  height: 15px;
  padding: 20px;
  color: white;
  
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
