.App-footer li{
    display:inline;
   
    
}

a{
    margin-right: 25px;
    text-decoration: none;
    color: aliceblue;
}

.App-footer{
    /* background-color:rgb(143, 151, 109); */
    height: 75px;
    margin-top: -1000px;
    position: relative;
    left:0px;
}
span.copyr{
    /* margin-top:-180px; */
    position: relative;
    left:0px;
    top: -50px;
    color:white;
}