.App-footer li{
    display:inline;
    color:#379df1;
    
    
}

.App-footer a {
    margin-right: 25px;
    color: #062b49;
    font-weight: 900;
 }
 .App-footer a:hover {
    text-decoration:none;
    color:#084577;
    font-size: 30px;
}
.App-footer{
    /* background-color:white; */
    height: 75px;
    margin-top: -940px;
    position: relative;
    left:0px;
    font-size: 20px;
    
}
span.copyr{
    /* margin-top:-180px; */
    position: relative;
    left:0px;
    top:-55px;
    color:#031727;
    font-weight: 600;
    font-size: 20px;
}

