.guideCard{
    /* display: inline; */
    margin-left: 50px; 
    text-decoration: none;
    z-index: 50;
}
li{
   display: block;
   
}
p{
 z-index: 600;
} 

 .card{
    height:200px;
} 

.guide-type{
 padding-top: 55px;
}