.guideCard{
    display: inline;

    margin-left: 50px; 
    position: relative;
    top:-1115px;
    left:550px;
  
    text-decoration: none;
}
li{
   display: block;
     
}
p{
 z-index: 600;
}